name: Release Please

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    if: github.event_name == 'workflow_dispatch' || vars.ENABLE_RELEASE_PLEASE == 'true'
    runs-on: self-hosted
    steps:
      - name: Release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          release-type: node
